.Form1Div {
  background-image: url("../../assets//Forms//Form1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.Form2Div {
  background-image: url("../../assets//Forms//Form2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.Form3Div {
  background-image: url("../../assets//Forms/Form3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.PackageFormDiv {
  background-image: url("../../assets//Forms/Packages.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
/* background-size: unset ; */


  background-color: darkblue;
}